
     <!-- grid oculto email telefono 
    <div class="container">
      <div class="row">
        <div class="col-md-2">hola</div>
        <div class="col-md-3">hola</div>
      </div>
    </div>-->
    <!-- contenedor del slideshow -->
    

     <div class=" cabCont" >
      		<div class="container ">
				<form class="form-reserva"role="form">
				  <div class="form-group">
				    
				    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombre">
				  </div>
				  <div class="form-group">
				    
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="E-mail">
				  </div>
				  <div class="form-group">
				    
				    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Celular">
				  </div>

				  <div class="form-group">	
				  	<select class="form-control" placeholder="Noches">
					  <option>1</option>
					  <option>2</option>
					  <option>3</option>
					  <option>4</option>
					  <option>5</option>
					</select> </div>


				  <button type="submit" class="btn btn-default">Solicitar reserva</button>
				</form>
			</div>
     </div>

     <div class="container"> 

      <div class="row">
            <div class="col-md-6">
                <h2>
                  Cabaña 1
                </h2>
                <p>
                Cuenta con 4 habitaciones, dos de ellas tienen
				baño privado, tiene una cocina comoda para los
				que les gusta cocinar y preparar sus alimentos,
				con capacidad para alojar a 8 personas.
				</p>
				<br>
				<p>
				Es perfecta para descanza y disfrutar de nuestra
				<span>zona social</span>.
                </p>    
            </div>
            <div class="col-md-6">
                <h2>
                  Características
                </h2>
				<ul>
				  <li>
				    <img src="img/viñeta.png">
				    Cama doble por habitación.			    
				  </li>
				  <li>
				  	<img src="img/viñeta.png">
					Closet por habitación.
				  </li>
				  <li>
				  	<img src="img/viñeta.png">
					DirecTV.
				  </li>
				  <li>
				  	<img src="img/viñeta.png">
				  	Ventiladores.</li>
				</ul>
            </div>
            <!--thumbnail-->
            <div class="col-lg-12 col-md-12 col-xs-12 thumb">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="img/cabaña1-1.png">
                </a>
            </div>
             <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="img/cabaña1-2.png">
                </a>
            </div>
             <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="img/cabaña1-3.png">
                </a>
            </div>
             <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="img/cabaña1-4.png">
                </a>
            </div>
             <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="img/cabaña1-5.png">
                </a>
            </div>
             <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="img/cabaña1-6.png">
                </a>
            </div>
           </div>
           <div class="col-lg-12 col-md-12 col-xs-12 thumb">
           	<a class="thumbnail" href="#">
           		<img class="img-responsive" 	src="img/demo360.png">
           	</a>
           </div>
            
                
   
      </div>
      
    </div>


